<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    </style>
    <body class="w3-white">
    <a>
        <br/>
        <br/>
        <br/>
    </a>
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-white">
      <!-- Avatar image in top left corner 
      <img src="/w3images/avatar_smoke.jpg" style="width:100%">
     -->
        <br> 
        <a href="#home" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="profile" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
    
      <a href="add-address" class="w3-bar-item w3-button w3-padding-large w3-white " routerLink="address" routerLinkActive="active">
        <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <p>Add Address</p>
        </i>
      </a>
      <a href="cart" class="w3-bar-item w3-button w3-padding-large w3-white" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <p>CART</p>
      </a>
      <a href="order" class="w3-bar-item w3-button w3-padding-large w3-white" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
            <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
          </svg>
          <p>
              ORDER
          </p>
      </a>
    </nav>
    
    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
      </div>
    </div>
    
    <div>
    <div class="card-body">
        <h4 class="card-title">Add Adders</h4>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <form [formGroup]="addressForm">
                    <div class="card">
                        <div id="error"  class="card-header">
                            Address Form
                        </div>
                        <div class="card-body">
                            <div class="row">
                                
                            </div>
                        
                            <div class="row">
                                <div id="error" class="col-md-3">
                                    firstname:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input id="error" type="text" class="form-control" formControlName='firstname'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="error" class="col-md-3">
                                    lastname:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input id="error" type="text" class="form-control" formControlName='lastname'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="error" class="col-md-3">
                                    phonenumber:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input id="error" type="text" class="form-control" formControlName='phonenumber'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="error" class="col-md-3">
                                    address detail:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                    <textarea id="error" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName='address'></textarea>
                                    </div>
                                </div>
                            </div>
                            
                        
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="reset" class="btn btn-danger" (click)="resetForm()" id="cancle">Reset</button>
                                    <button type="button" class="btn btn-primary" (click)="addAddress()" id="accept">Add</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>
    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->

    
      <!-- About Section -->

      
      
      
    <!-- END PAGE CONTENT -->
    </div>
