<div class="container">
    <form action="">   
        <div class="row"> 
            <div class="col-md-3"></div>
            <div class="col-md-6">
        <div class="mb-3">
            <label for="formFile" class="form-label">เพิ่มรูปภาพ</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <br>
        <label for="">ชื่อต้นไม้</label>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <br>
        <label for="">ประเภทต้นไม้</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>เลือก</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <br>
        <label for="">รายละเอียด</label>
        <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <br>
        <button type="button" class="btn btn-secondary" id="accept">ยกเลิก</button>
        <button type="button" class="btn btn-primary" id="cancle">เพิ่มสินค้า</button>
    </div>
    
    <div class="col-md-3"></div>
    </div>
    </form>
</div>