<br/>
<div class="card">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Teko&display=swap" rel="stylesheet">
    <div class="card-body ">
        <div  id="addproduct" class="row" >
            <div class="col-md-2">
            </div>
            <div class="col-md-8 ">
                <form [formGroup]="productForm">
                    <div class="card">
                        <div class="card-header">
                            Product Form
                        </div>
                        <div class="card-body" id = "aad">
                            <div class="row">
                                <div class="col-md-3">
                                    ประเภท:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="type">
                                          <option value="">เลือกประเภทต้นไม้</option>
                                          <option *ngFor="let item of productType" [value]="item">{{item}}</option>
                                        </select>
                                      </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    ชื่อ:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='name'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    รายละเอียด:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='detail'>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-md-3">
                                    ราคา:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" formControlName='price'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    รูป:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-9">
                                    <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.productForm.value.img" style="height:150px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modal-footer" id = "aad">
                                    <p><button class="w3-button " (click)="addProduct()" id="accept">Add</button></p>
                                    <p><button class="w3-button " (click)="resetForm()" id="cancle">Reset</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>

