<div class="container" style="margin-top:60px">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&family=Teko&display=swap" rel="stylesheet">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" id="sign">Sign In</div>
        <form [formGroup]="authForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="" id="sign">Username</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="form-group">
                  <label for="" id="sign">Password</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
              </div>
            </div>
            <br />
            <div class="row">

              <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="signin()" id="sign">Sign in</button>&nbsp;
                <button type="button" class="btn btn-info" (click)="signup()" id="sign" >Sign up</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>